

<% @evaluations.each do |evaluation| %>

  <div class="color-tiles">
<% if evaluation.color == 1 %>
<h5>
  <%= link_to 'eval', edit_batch_student_evaluation_path(student_id: @student, id: evaluation), class:'btn-green' %></h5>
<% else %>
<% if evaluation.color == 2 %>
<h5>
  <%= link_to 'eval', edit_batch_student_evaluation_path(@student.id, evaluation.id), class:'btn-yellow' %></h5>
<% else %>
<h5>
  <%= link_to 'eval', edit_batch_student_evaluation_path(@student.id, evaluation.id), class:'btn-red' %></h5>
<% end %>
<% end %>

<p><%=  evaluation.remark %></p>

</div>

<% end %>
